<section class="contact-section">

    <div class="contact-info">
        <i class=" fa-solid fa-phone "></i>
        <!-- <i class="fas fa-phone"></i> -->
        <span> +123 456 7890 </span>

        <!-- <i class="fa-regular fa-envelope"></i> -->
        <i class="fa-solid fa-envelope "></i>
        <!-- <i class="fas fa-envelope"></i> -->
        <span class="email"> Traveler&#64;gmail.com </span>

    </div>

    <div class="social-icons">

        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <!-- <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i> -->

    </div>

</section>